In [7]:
!cd

C:\Users\aeln8\Desktop\Proyecto_Mayo

In [2]:
import numpy as np 
import pandas as pd
import pandas_profiling as pp
from sklearn.svm import SVR
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from pandas import DataFrame
import seaborn as sns
import folium
import json

In [3]:
bitcoin = pd.read_csv('Data/B_C_H.csv')

In [8]:
geojson = '../Data/countriesgeo.json'

In [9]:
bitcoin.head()

           Date      Price       Open       High        Low   Volume  Change
0  Apr 25, 2021  49,561.90  50,088.20  50,438.80  49,226.50   66.26K  -1.05%
1  Apr 24, 2021  50,088.90  51,140.80  51,183.00  48,775.20   82.25K  -2.06%
2  Apr 23, 2021  51,143.60  51,707.10  52,099.90  47,659.40  214.46K  -1.13%
3  Apr 22, 2021  51,729.50  53,821.30  55,408.40  50,590.90  168.13K  -3.88%
4  Apr 21, 2021  53,820.20  56,479.50  56,764.40  53,657.60  100.26K  -4.71%

In [10]:
check_for_nan =bitcoin.isnull().any()
print (check_for_nan)

Date      False
Price     False
Open      False
High      False
Low       False
Volume    False
Change    False
dtype: bool

In [11]:
bitcoin.shape

(3935, 7)

In [12]:
bitcoin.describe().iloc[:2,:7]

        Date Price  Open  High   Low Volume Change
count   3935  3935  3935  3935  3935   3935   3935
unique  3935  2984  2978  2972  2978   3517   1434

In [13]:
b_coin = bitcoin.dropna(axis=1).reset_index(drop=True)

In [14]:
b_coin.isnull().any()

Date      False
Price     False
Open      False
High      False
Low       False
Volume    False
Change    False
dtype: bool

In [15]:
b_coin.describe().iloc[:2,:7]

        Date Price  Open  High   Low Volume Change
count   3935  3935  3935  3935  3935   3935   3935
unique  3935  2984  2978  2972  2978   3517   1434

In [16]:
bitcoin_Vol = b_coin.drop(['Date','Open','High','Low','Change'],1)

In [17]:
bitcoin_Ch = b_coin.drop(['Date','Open','High','Low','Volume'],1)

In [18]:
b_pv = pd.DataFrame(bitcoin_Vol)
b_pc = pd.DataFrame(bitcoin_Ch)

In [19]:
b_pc.shape

(3935, 2)

In [20]:
b_pv.dtypes

Price     object
Volume    object
dtype: object

In [21]:
b_pv['Price'] = pd.to_numeric(b_pv['Price'],errors = 'coerce')
b_pv['Volume'] = pd.to_numeric(b_pv['Volume'],errors = 'coerce')

In [22]:
b_pv.dtypes

Price     float64
Volume    float64
dtype: object

In [23]:
check_for_nan = b_pv.isnull().any()
print (check_for_nan)

Price     True
Volume    True
dtype: bool

In [24]:
np.where(b_pv.values >= np.finfo(np.float64).max)

(array([], dtype=int64), array([], dtype=int64))

In [25]:
X = b_pv.drop(columns=['Volume'])
y = b_pv['Volume']

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [27]:
np.isfinite(X_train).all()

Price    False
dtype: bool

In [28]:
np.isfinite(X_test).all()

Price    False
dtype: bool

In [29]:
np.isfinite(y_train).all()

False

In [30]:
np.isfinite(y_test).all()

False

In [31]:
log_reg = LogisticRegression(max_iter=1000000)

In [33]:
X

      Price
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
3930    0.1
3931    0.1
3932    0.1
3933    0.1
3934    0.1

[3935 rows x 1 columns]

In [34]:
y

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3930   NaN
3931   NaN
3932   NaN
3933   NaN
3934   NaN
Name: Volume, Length: 3935, dtype: float64

In [32]:
log_reg.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').